In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate

In [2]:
df = pd.read_csv('Data/df.csv')
df_normalized = pd.read_csv('Data/df_normalized.csv')
df_rob = pd.read_csv('Data/df_RobScaled.csv')

In [3]:
df_med = pd.read_csv('Data/df_outliers_median.csv')
df_med_norm = pd.read_csv('Data/df_outliers_median_normalized.csv')
df_med_rob = pd.read_csv('Data/df_median_out_RobScaled.csv')

In [4]:
df_ss = pd.read_csv('Data/df_sans_outliers.csv')
df_ss_norm = pd.read_csv('Data/df_sans_outliers_normalized.csv')
df_ss_rob = pd.read_csv('Data/df_s_outliers_RobScaled.csv')

In [5]:
df_norm = df_normalized.drop(['Unnamed: 0'], axis=1)

# 1 iteration

In [6]:
X = df_norm.drop(['median_house_value'], axis=1)
y = df_norm['median_house_value']

# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

# Choose your model
model = LinearRegression()

# Fit the model with the train set
model.fit(X_train, y_train)

# Evaluate the model with the test set
model.score(X_test, y_test)

0.6549691083003384

In [7]:
scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("Average R2: ", average_r2, "// Average RMSE: ", average_rmse, "// Average MAE:", average_mae)

Average R2:  0.6459482050884272 // Average RMSE:  68566.19471516294 // Average MAE: 49689.84119108304

# 2 iteration

In [8]:
df_rob = df_rob.drop('Unnamed: 0', axis=1)

In [9]:
X = df_norm.drop(['median_house_value'], axis=1)
y = df_norm['median_house_value']

# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

# Choose your model
model = LinearRegression()

# Fit the model with the train set
model.fit(X_train, y_train)

# Evaluate the model with the test set
model.score(X_test, y_test)

0.6549691083003384

In [10]:
scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("Average R2: ", average_r2, "// Average RMSE: ", average_rmse, "// Average MAE:", average_mae)

Average R2:  0.6459482050884272 // Average RMSE:  68566.19471516294 // Average MAE: 49689.84119108304

# iteration 3

In [11]:
df_med_norm = df_med_norm.drop('Unnamed: 0', axis=1)

In [12]:
X = df_med_norm.drop(['median_house_value'], axis=1)
y = df_med_norm['median_house_value']

# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

# Choose your model
model = LinearRegression()

# Fit the model with the train set
model.fit(X_train, y_train)

# Evaluate the model with the test set
model.score(X_test, y_test)

0.6549691083003384

In [13]:
scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("Average R2: ", average_r2, "// Average RMSE: ", average_rmse, "// Average MAE:", average_mae)

Average R2:  0.6459482050884272 // Average RMSE:  68566.19471516294 // Average MAE: 49689.84119108304

# iteration 4

In [14]:
df_med_rob

,Unnamed: 0,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,<1H OCEAN,INLAND,ISLAND,NEAR BAY,NEAR OCEAN
0,0,-0.357143,0.664908,-1.210526,-0.153914,0.108262,0.242328,0.021472,-0.944277,72000.0,0.0,1.0,0.0,0.0,0.0
1,1,0.182540,-0.150396,-1.105263,-0.048759,-0.245014,-0.323810,-0.214724,1.558130,274100.0,1.0,0.0,0.0,0.0,0.0
2,2,-0.449735,0.620053,-0.210526,-0.728448,-0.629630,-0.250794,-0.601227,-0.911152,58300.0,0.0,1.0,0.0,0.0,0.0
3,3,0.044974,-0.039578,0.105263,-0.877074,-0.586895,-0.604233,-0.561350,-0.922762,200000.0,1.0,0.0,0.0,0.0,0.0
4,4,-0.724868,0.934037,-0.421053,-0.113379,-0.176638,-0.040212,-0.116564,0.253484,117900.0,0.0,1.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16331,16331,-0.902116,1.408971,-0.473684,-0.381848,-0.447293,-0.447619,-0.490798,-0.215982,93800.0,0.0,1.0,0.0,0.0,0.0
16332,16332,-0.994709,1.018470,1.052632,0.146864,0.196581,-0.039153,0.147239,-0.422934,103100.0,0.0,0.0,0.0,1.0,0.0
16333,16333,-0.722222,1.232190,-0.526316,0.244382,0.074074,0.040212,0.058282,0.444357,192600.0,0.0,1.0,0.0,0.0,0.0
16334,16334,0.092593,-0.023747,0.526316,0.388310,1.153846,1.458201,1.113497,-0.440580,153500.0,1.0,0.0,0.0,0.0,0.0
16335,16335,-1.492063,1.728232,0.105263,0.021736,0.076923,0.096296,0.030675,-0.591325,81100.0,0.0,0.0,0.0,0.0,1.0

In [15]:
X = df_med_rob.drop(['median_house_value'], axis=1)
y = df_med_rob['median_house_value']

# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

# Choose your model
model = LinearRegression()

# Fit the model with the train set
model.fit(X_train, y_train)

# Evaluate the model with the test set
model.score(X_test, y_test)

0.6608236505232412

In [16]:
scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("Average R2: ", average_r2, "// Average RMSE: ", average_rmse, "// Average MAE:", average_mae)

Average R2:  0.6545833010507129 // Average RMSE:  67722.81249648707 // Average MAE: 49598.75814534384

# iteration 5

In [17]:
df_ss_norm = df_ss_norm.drop('Unnamed: 0', axis = 1)

In [18]:
X = df_ss_norm.drop(['median_house_value'], axis=1)
y = df_ss_norm['median_house_value']

# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

# Choose your model
model = LinearRegression()

# Fit the model with the train set
model.fit(X_train, y_train)

# Evaluate the model with the test set
model.score(X_test, y_test)

0.6549691083003384

In [19]:
scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("Average R2: ", average_r2, "// Average RMSE: ", average_rmse, "// Average MAE:", average_mae)

Average R2:  0.6459482050884272 // Average RMSE:  68566.19471516294 // Average MAE: 49689.84119108304

# iteration 6

In [20]:
df_ss_rob = df_ss_rob.drop('Unnamed: 0', axis = 1)

In [21]:
X = df_ss_rob.drop(['median_house_value'], axis=1)
y = df_ss_rob['median_house_value']

# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

# Choose your model
model = LinearRegression()

# Fit the model with the train set
model.fit(X_train, y_train)

# Evaluate the model with the test set
model.score(X_test, y_test)

0.6004831597504754

In [22]:
scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("Average R2: ", average_r2, "// Average RMSE: ", average_rmse, "// Average MAE:", average_mae)

Average R2:  0.6032811819987899 // Average RMSE:  65576.57981573541 // Average MAE: 47864.72996470081