In [37]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import cross_validate
from lightgbm import LGBMRegressor

In [38]:
df = pd.read_csv('df_1.csv')
df_1_rob = pd.read_csv('df_1_rob.csv')
df_log = pd.read_csv('df_log.csv')

In [10]:
df.drop(['Unnamed: 0'],axis=1)

,total_rooms,population,households,median_income,median_house_value,total_bedrooms,median_house_value.1,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,7.524561,7.242082,6.033086,0.393190,11.184421,6.159095,11.184421,0,1,0,0,0
1,7.616776,6.759255,5.828946,1.933447,12.521248,5.855072,12.521248,1,0,0,0,0
2,6.774224,6.836259,5.365976,0.440575,10.973357,5.365976,10.973357,0,1,0,0,0
3,6.432940,6.391917,5.424950,0.424221,12.206073,5.433722,12.206073,1,0,0,0,0
4,7.561122,7.029973,5.918894,1.406465,11.677592,5.921578,11.677592,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16331,7.289611,6.613384,5.521461,1.119232,11.448920,5.627621,11.448920,0,1,0,0,0
16332,7.768533,7.030857,6.126869,0.960614,11.543455,6.222576,11.543455,0,0,0,1,0
16333,7.836370,7.095064,6.061457,1.503144,12.168371,6.133398,12.168371,0,1,0,0,0
16334,7.928766,7.842279,6.650279,0.945850,11.941456,6.733402,11.941456,1,0,0,0,0
16335,7.674153,7.138073,6.040255,0.809952,11.303438,6.135565,11.303438,0,0,0,0,1

In [11]:
df_log.drop(['Unnamed: 0'], axis=1)

,total_rooms,population,households,median_income,median_house_value,total_bedrooms,median_house_value.1,ocean_proximity_<1H OCEAN,ocean_proximity_INLAND,ocean_proximity_ISLAND,ocean_proximity_NEAR BAY,ocean_proximity_NEAR OCEAN
0,7.524561,7.242082,6.033086,0.393190,11.184421,6.159095,11.184421,0,1,0,0,0
1,7.616776,6.759255,5.828946,1.933447,12.521248,5.855072,12.521248,1,0,0,0,0
2,6.774224,6.836259,5.365976,0.440575,10.973357,5.365976,10.973357,0,1,0,0,0
3,6.432940,6.391917,5.424950,0.424221,12.206073,5.433722,12.206073,1,0,0,0,0
4,7.561122,7.029973,5.918894,1.406465,11.677592,5.921578,11.677592,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
16331,7.289611,6.613384,5.521461,1.119232,11.448920,5.627621,11.448920,0,1,0,0,0
16332,7.768533,7.030857,6.126869,0.960614,11.543455,6.222576,11.543455,0,0,0,1,0
16333,7.836370,7.095064,6.061457,1.503144,12.168371,6.133398,12.168371,0,1,0,0,0
16334,7.928766,7.842279,6.650279,0.945850,11.941456,6.733402,11.941456,1,0,0,0,0
16335,7.674153,7.138073,6.040255,0.809952,11.303438,6.135565,11.303438,0,0,0,0,1

# 1 iteration

In [39]:
X = df.drop(['median_house_value'], axis=1)
y = df['median_house_value']

# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

# Choose your model
model = LinearRegression()

# Fit the model with the train set
model.fit(X_train, y_train)

# Evaluate the model with the test set
model.score(X_test, y_test)

0.6549594765995634

In [40]:
scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("Average R2: ", average_r2, "// Average RMSE: ", average_rmse, "// Average MAE:", average_mae)

Average R2:  0.6459059619849293 // Average RMSE:  68570.26654501443 // Average MAE: 49704.29139753613

# 2 iteration

In [41]:
df_rob = df_1_rob.drop('Unnamed: 0', axis=1)

In [42]:
X = df_rob.drop(['median_house_value'], axis=1)
y = df_rob['median_house_value']

# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

# Choose your model
model = LinearRegression()

# Fit the model with the train set
model.fit(X_train, y_train)

# Evaluate the model with the test set
model.score(X_test, y_test)

0.654969108300337

In [43]:
scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("Average R2: ", average_r2, "// Average RMSE: ", average_rmse, "// Average MAE:", average_mae)

Average R2:  0.6459482050884297 // Average RMSE:  68566.19471516271 // Average MAE: 49689.841191083

# iteration 3

In [47]:
df_log_2 = df_log.drop(['Unnamed: 0'], axis=1)

In [48]:
X = df_log.drop(['median_house_value'], axis=1)
y = df_log['median_house_value']

# Splitting the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=.3, random_state=1)

# Choose your model
model = LinearRegression()

# Fit the model with the train set
model.fit(X_train, y_train)

# Evaluate the model with the test set
model.score(X_test, y_test)

0.6939588173804284

In [49]:
scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("Average R2: ", average_r2, "// Average RMSE: ", average_rmse, "// Average MAE:", average_mae)

Average R2:  0.6917351492352857 // Average RMSE:  0.31605421562639496 // Average MAE: 0.2366147859821713

In [68]:
scores = cross_validate(model, X, y, cv=5, scoring=('r2', 'neg_root_mean_squared_error','neg_mean_absolute_error'))

average_r2 = scores['test_r2'].mean()
average_rmse = -scores['test_neg_root_mean_squared_error'].mean()
average_mae = -scores['test_neg_mean_absolute_error'].mean()
print("Average R2: ", average_r2, "// Average RMSE: ", average_rmse, "// Average MAE:", average_mae)

Average R2:  0.6699776090351847 // Average RMSE:  0.3270338914468673 // Average MAE: 0.2468085010218049